doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
  footer 
    p="2022 | "
      a(href="https://yagopajarino.com.ar" target="_blank")="Yago Pajariño"